src/test/resources/sample-noincludes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PriceListService"
	targetNamespace="http://www.example.com/wsdl/PriceListService.wsdl"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.com/wsdl/PriceListService.wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="http://www.example.com/schema">

	<types>
		<xsd:schema
			elementFormDefault="qualified"
			targetNamespace="http://priceservice.com/v1/">

			<xsd:import schemaLocation="shiporder2.xsd" />
		</xsd:schema>
		<xsd:schema
			targetNamespace="http://www.example.com/schema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

			<xsd:import
				namespace="http://schemas.xmlsoap.org/soap/encoding/"
				schemaLocation="https://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:complexType name="ArrayOfString">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="string[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfDouble">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="double[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<message name="PriceListRequest">
		<part name="sku_list" type="xsd1:ArrayOfString" />
	</message>

	<message name="PriceListResponse">
		<part name="price_list" type="xsd1:ArrayOfDouble" />
	</message>

	<portType name="PriceList_PortType">
		<operation name="getPriceList">
			<input message="tns:PriceListRequest" />
			<output message="tns:PriceListResponse" />
		</operation>
	</portType>

	<binding name="PriceList_Binding" type="tns:PriceList_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getPriceList">
			<soap:operation soapAction="urn:examples:pricelistservice" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:examples:pricelistservice"
					use="literal" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:examples:pricelistservice"
					use="literal" />
			</output>
		</operation>
	</binding>

	<service name="PriceList_Service">
		<port name="PriceList_Port" binding="tns:PriceList_Binding">
			<soap:address location="http://localhost:8080/soap/servlet/rpcrouter" />
		</port>
	</service>
</definitions>
